<a href="https://colab.research.google.com/github/MaliheDahmardeh/state-house-price-analysis-SM/blob/main/state-house-price-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil import parser
import math
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
!ls

sample_data  State_house_prices_ts.csv

In [3]:
df = pd.read_csv('State_house_prices_ts.csv', sep =',',parse_dates=['Date'])

In [4]:
display(df)
display(type(df))
display(df.dtypes)

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
0,2001-02-28,Alabama,70100.0,58700.0,95900.0,178700.0,248100.0,92500.0
1,2001-02-28,Alaska,97300.0,126400.0,177300.0,219800.0,282500.0,183300.0
2,2001-02-28,Arizona,75800.0,110200.0,126600.0,168100.0,250500.0,136900.0
3,2001-02-28,Arkansas,65100.0,64500.0,90300.0,156700.0,245300.0,74400.0
4,2001-02-28,California,146900.0,182700.0,218400.0,293700.0,405100.0,239900.0
...,...,...,...,...,...,...,...,...
13207,1999-12-31,Virginia,80800.0,84400.0,114300.0,191000.0,266500.0,125100.0
13208,1999-12-31,Washington,115300.0,131300.0,164400.0,218700.0,254000.0,165600.0
13209,1999-12-31,WestVirginia,NaN,NaN,60900.0,80200.0,90000.0,48100.0
13210,1999-12-31,Wisconsin,80800.0,89800.0,114400.0,143400.0,165400.0,113700.0
13211,1999-12-31,Wyoming,NaN,NaN,NaN,116600.0,NaN,104100.0

pandas.core.frame.DataFrame

Date                           datetime64[ns]
RegionName                             object
Price_1bedroom                        float64
Price_2bedroom                        float64
Price_3bedroom                        float64
Price_4bedroom                        float64
Price_5BedroomOrMore                  float64
Price_SingleFamilyResidence           float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13212 entries, 0 to 13211
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         13212 non-null  datetime64[ns]
 1   RegionName                   13212 non-null  object
 2   Price_1bedroom               10605 non-null  float64
 3   Price_2bedroom               11745 non-null  float64
 4   Price_3bedroom               12787 non-null  float64
 5   Price_4bedroom               12359 non-null  float64
 6   Price_5BedroomOrMore         11814 non-null  float64
 7   Price_SingleFamilyResidence  12438 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 825.9+ KB

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

Date                              0
RegionName                        0
Price_1bedroom                 2607
Price_2bedroom                 1467
Price_3bedroom                  425
Price_4bedroom                  853
Price_5BedroomOrMore           1398
Price_SingleFamilyResidence     774
dtype: int64

In [53]:
print(df.groupby('RegionName').median())

                    Price_1bedroom  Price_2bedroom  Price_3bedroom  \
RegionName
Alabama                    88100.0         69700.0        116800.0
Alaska                    124550.0        175550.0        251100.0
Arizona                    87100.0        133100.0        150800.0
Arkansas                   80200.0         81500.0        122500.0
California                219500.0        273000.0        316100.0
Colorado                  134300.0        163600.0        210600.0
Connecticut               118800.0        167600.0        231400.0
Delaware                  122400.0        144400.0        182600.0
DistrictofColumbia        323200.0        386500.0        353500.0
Florida                    72500.0        103800.0        147800.0
Georgia                   120600.0         92800.0        123800.0
Hawaii                    275800.0        339700.0        446600.0
Idaho                     105300.0        109300.0        134500.0
Illinois                  119200.0        120800.0        151500.0
Indiana                    61100.0         71200.0        113800.0
Iowa                       76100.0         87800.0        116600.0
Kansas                     51600.0         66300.0        115500.0
Kentucky                   75600.0         94200.0        121700.0
Louisiana                  63000.0             NaN        127200.0
Maine                     156000.0        170900.0        198900.0
Maryland                  147500.0        168300.0        217800.0
Massachusetts             200200.0        232400.0        289500.0
Michigan                   81700.0         96200.0        132000.0
Minnesota                 111500.0        147300.0        179100.0
Mississippi                    NaN             NaN        100900.0
Missouri                   71800.0         87000.0        133400.0
Montana                   114900.0        138700.0        177100.0
Nebraska                   71800.0         88200.0        125100.0
Nevada                         NaN        116800.0        159000.0
NewHampshire              106600.0        162700.0        221000.0
NewJersey                 175300.0        209100.0        259900.0
NewMexico                      NaN        113400.0        144200.0
NewYork                   150400.0        119300.0        136900.0
NorthCarolina              93000.0         90500.0        134600.0
NorthDakota                    NaN        147300.0        206700.0
Ohio                       63600.0         78800.0        111900.0
Oklahoma                   39500.0         46800.0         89300.0
Oregon                    148800.0        162500.0        196800.0
Pennsylvania              101900.0        113900.0        143300.0
RhodeIsland               149400.0        179200.0        218900.0
SouthCarolina              81000.0         88200.0        132100.0
SouthDakota                81050.0        117350.0        137000.0
Tennessee                  92700.0         81600.0        121100.0
Texas                          NaN             NaN        113800.0
UnitedStates                   NaN             NaN             NaN
Utah                           NaN        135200.0        170900.0
Vermont                   154450.0        174450.0        213950.0
Virginia                  185300.0        148900.0        189800.0
Washington                160400.0        181600.0        227500.0
WestVirginia                   NaN             NaN         81300.0
Wisconsin                  95300.0        108600.0        144500.0
Wyoming                        NaN        154400.0        200300.0

                    Price_4bedroom  Price_5BedroomOrMore  \
RegionName
Alabama                   218900.0              316200.0
Alaska                    319600.0              416800.0
Arizona                   203900.0              315600.0
Arkansas                  212100.0              323900.0
California                415200.0              565900.0
Colorado                  293000.0              361200.0
Connecticut               356200.0              570300.0
Delaware                  284200.0              343600.0
DistrictofColumbia        567300.0             1123400.0
Florida                   227600.0              363000.0
Georgia                   210200.0              315100.0
Hawaii                    596500.0              712900.0
Idaho                     169900.0              213200.0
Illinois                  252300.0              340900.0
Indiana                   168000.0              195200.0
Iowa                      137900.0              218200.0
Kansas                         NaN                   NaN
Kentucky                  195800.0              229200.0
Louisiana                      NaN              329000.0
Maine                     244900.0              318300.0
Maryland                  336200.0              464700.0
Massachusetts             410800.0              563700.0
Michigan                  231300.0              231800.0
Minnesota                 231300.0              297600.0
Mississippi               174100.0              180800.0
Missouri                  232000.0              277900.0
Montana                   201100.0              238750.0
Nebraska                  188200.0              162600.0
Nevada                    208600.0              289600.0
NewHampshire              290300.0              328800.0
NewJersey                 368400.0              487800.0
NewMexico                 211600.0              281700.0
NewYork                   224700.0              320600.0
NorthCarolina             234100.0              301200.0
NorthDakota               196000.0              298800.0
Ohio                      180500.0              205600.0
Oklahoma                  162700.0              191000.0
Oregon                    272500.0              318400.0
Pennsylvania              257800.0              265100.0
RhodeIsland               318500.0              426200.0
SouthCarolina             217900.0                   NaN
SouthDakota               160200.0              212000.0
Tennessee                 210300.0              317600.0
Texas                     187400.0                   NaN
UnitedStates                   NaN                   NaN
Utah                      199200.0              254400.0
Vermont                   272850.0              313350.0
Virginia                  325500.0              471800.0
Washington                309200.0              374600.0
WestVirginia              117600.0              123900.0
Wisconsin                 186000.0              219400.0
Wyoming                   213600.0              271200.0

                    Price_SingleFamilyResidence
RegionName
Alabama                                115600.0
Alaska                                 254300.0
Arizona                                165300.0
Arkansas                               102400.0
California                             344000.0
Colorado                               222300.0
Connecticut                            253800.0
Delaware                               190800.0
DistrictofColumbia                     372900.0
Florida                                154300.0
Georgia                                132300.0
Hawaii                                 535100.0
Idaho                                  144600.0
Illinois                               153100.0
Indiana                                110700.0
Iowa                                    90400.0
Kansas                                 115000.0
Kentucky                               115700.0
Louisiana                                   NaN
Maine                                  180100.0
Maryland                               245000.0
Massachusetts                          308500.0
Michigan                               113800.0
Minnesota                              174400.0
Mississippi                             94900.0
Missouri                               129100.0
Montana                                171800.0
Nebraska                               120900.0
Nevada                                 179400.0
NewHampshire                           221500.0
NewJersey                              281300.0
NewMexico                              159700.0
NewYork                                238300.0
NorthCarolina                          137900.0
NorthDakota                            164900.0
Ohio                                   113800.0
Oklahoma                                84900.0
Oregon                                 204700.0
Pennsylvania                           149400.0
RhodeIsland                            222200.0
SouthCarolina                          122200.0
SouthDakota                            136650.0
Tennessee                              113000.0
Texas                                  124000.0
UnitedStates                                NaN
Utah                                   186900.0
Vermont                                208300.0
Virginia                               206500.0
Washington                             234200.0
WestVirginia                            64300.0
Wisconsin                              146000.0
Wyoming                                178800.0

In [ ]:
#number=df.groupby('RegionName').count()[['Price_1bedroom','Price_2bedroom','Price_3bedroom','Price_3bedroom','Price_5BedroomOrMore','Price_SingleFamilyResidence']].reset_index()
#display(type(number))
#number

In [ ]:
Region = df['RegionName'].unique().tolist()
Region

In [ ]:
def calc_count(variable,value):
  for variable in Region :
    a = df.groupby('RegionName').count()[value].reset_index()
    b = a.loc[(a["RegionName"]== variable)]
    c = a[value]
    return c
m= calc_count("Alabama",'Price_1bedroom')
m

In [28]:
house_type = ['Price_1bedroom','Price_2bedroom','Price_3bedroom','Price_3bedroom','Price_5BedroomOrMore','Price_SingleFamilyResidence']
#display(house_type)
#display(type(house_type))

In [48]:
# Median --> Returns the middle data point in a data set 
def calc_median(variable,value):
  n = calc_count(variable,value)
  if   n%2 == 1: # n is odd 
        df = np.sort(variable)
        df_var = df[(n)//2]
  elif n%2 == 0: # n is even 
        df = np.sort(variable)
        df_var = (df[n//2-1] + df[(n//2)])/2 # be careful with Python indexes, starting from 0 
  return df_var

T5 = calc_median("RegionName",'Price_1bedroom')
T5

ValueError: ignored

In [ ]:
df.describe()

,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
count,10605.000000,11745.000000,12787.000000,12359.000000,1.181400e+04,12438.000000
mean,117060.424328,135168.803746,167062.798154,243829.670685,3.237335e+05,174154.381733
std,61056.036728,72267.645405,80212.505902,106216.755129,1.702917e+05,92243.367198
min,30900.000000,32800.000000,49600.000000,64700.000000,6.860000e+04,37900.000000
25%,74600.000000,86700.000000,116400.000000,174900.000000,2.179000e+05,115000.000000
50%,100400.000000,115400.000000,141200.000000,218000.000000,2.880000e+05,147300.000000
75%,142300.000000,166800.000000,204400.000000,281000.000000,3.653000e+05,211775.000000
max,390200.000000,542400.000000,639700.000000,850400.000000,1.497000e+06,737500.000000

In [ ]:
print('columns:', df.columns)
print('')
print('indexes:', df.index)
print('')
print('values:', df.values)

columns: Index(['Date', 'RegionName', 'Price_1bedroom', 'Price_2bedroom',
       'Price_3bedroom', 'Price_4bedroom', 'Price_5BedroomOrMore',
       'Price_SingleFamilyResidence'],
      dtype='object')

indexes: RangeIndex(start=0, stop=13212, step=1)

values: [[Timestamp('2001-02-28 00:00:00') 'Alabama' 70100.0 ... 178700.0
  248100.0 92500.0]
 [Timestamp('2001-02-28 00:00:00') 'Alaska' 97300.0 ... 219800.0 282500.0
  183300.0]
 [Timestamp('2001-02-28 00:00:00') 'Arizona' 75800.0 ... 168100.0
  250500.0 136900.0]
 ...
 [Timestamp('1999-12-31 00:00:00') 'WestVirginia' nan ... 80200.0 90000.0
  48100.0]
 [Timestamp('1999-12-31 00:00:00') 'Wisconsin' 80800.0 ... 143400.0
  165400.0 113700.0]
 [Timestamp('1999-12-31 00:00:00') 'Wyoming' nan ... 116600.0 nan
  104100.0]]

#Data manipulation