<a href="https://colab.research.google.com/github/MaliheDahmardeh/state-house-price-analysis-SM/blob/main/state-house-price-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
from datetime import datetime
from dateutil import parser
import math
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [61]:
!ls

sample_data  State_house_prices_ts.csv

In [62]:
df = pd.read_csv('State_house_prices_ts.csv', sep =',',parse_dates=['Date']).sort_values(by='Date', ascending=True , inplace=False)

In [63]:
display(df)
display(type(df))
display(df.dtypes)

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
1997,1996-04-30,Illinois,83800.0,92000.0,109300.0,171700.0,224000.0,116000.0
2006,1996-04-30,Michigan,66600.0,76900.0,98200.0,170200.0,166500.0,85400.0
2005,1996-04-30,Massachusetts,82900.0,106600.0,136300.0,195400.0,249200.0,144300.0
2003,1996-04-30,Maine,NaN,79000.0,91500.0,112600.0,135100.0,88300.0
2002,1996-04-30,Louisiana,NaN,NaN,76400.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
12988,2017-12-31,Maryland,160400.0,193400.0,251300.0,378700.0,507700.0,285000.0
12989,2017-12-31,Massachusetts,289300.0,301000.0,368300.0,519100.0,720900.0,392900.0
12990,2017-12-31,Michigan,101700.0,118800.0,158500.0,282900.0,294100.0,134800.0
12992,2017-12-31,Mississippi,NaN,NaN,124100.0,221000.0,250400.0,118500.0
13006,2017-12-31,Pennsylvania,118800.0,131400.0,163700.0,292100.0,307000.0,168100.0

pandas.core.frame.DataFrame

Date                           datetime64[ns]
RegionName                             object
Price_1bedroom                        float64
Price_2bedroom                        float64
Price_3bedroom                        float64
Price_4bedroom                        float64
Price_5BedroomOrMore                  float64
Price_SingleFamilyResidence           float64
dtype: object

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13212 entries, 1997 to 13006
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         13212 non-null  datetime64[ns]
 1   RegionName                   13212 non-null  object
 2   Price_1bedroom               10605 non-null  float64
 3   Price_2bedroom               11745 non-null  float64
 4   Price_3bedroom               12787 non-null  float64
 5   Price_4bedroom               12359 non-null  float64
 6   Price_5BedroomOrMore         11814 non-null  float64
 7   Price_SingleFamilyResidence  12438 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 929.0+ KB

In [65]:
df.duplicated().sum()

0

In [66]:
df.isnull().sum()

Date                              0
RegionName                        0
Price_1bedroom                 2607
Price_2bedroom                 1467
Price_3bedroom                  425
Price_4bedroom                  853
Price_5BedroomOrMore           1398
Price_SingleFamilyResidence     774
dtype: int64

In [67]:
#This will keep only rows which have nan's less than 5 in the dataframe, and will remove all having nan's > 5.
df = df[df.isnull().sum(axis=1) < 5]

In [68]:
df2 = df.groupby('RegionName').median()
df2

,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
RegionName,,,,,,
Alabama,88100.0,69700.0,116800.0,218900.0,316200.0,115600.0
Alaska,124550.0,175550.0,251100.0,319600.0,416800.0,254300.0
Arizona,87100.0,133100.0,150800.0,203900.0,315600.0,165300.0
Arkansas,80200.0,81500.0,122500.0,212100.0,323900.0,102400.0
California,219500.0,273000.0,316100.0,415200.0,565900.0,344000.0
Colorado,134300.0,163600.0,210600.0,293000.0,361200.0,222300.0
Connecticut,118800.0,167600.0,231400.0,356200.0,570300.0,253800.0
Delaware,122400.0,144400.0,182600.0,284200.0,343600.0,190800.0
DistrictofColumbia,323200.0,386500.0,353500.0,567300.0,1123400.0,372900.0
Florida,72500.0,103800.0,147800.0,227600.0,363000.0,154300.0
Georgia,120600.0,92800.0,123800.0,210200.0,315100.0,132300.0
Hawaii,275800.0,339700.0,446600.0,596500.0,712900.0,535100.0
Idaho,105300.0,109300.0,134500.0,169900.0,213200.0,144600.0
Illinois,119200.0,120800.0,151500.0,252300.0,340900.0,153100.0
Indiana,61100.0,71200.0,113800.0,168000.0,195200.0,110700.0
Iowa,76100.0,87800.0,116600.0,137900.0,218200.0,90400.0
Kansas,51600.0,66300.0,119400.0,NaN,NaN,115000.0
Kentucky,75600.0,94200.0,121700.0,195800.0,229200.0,115700.0
Louisiana,63000.0,NaN,130300.0,NaN,329000.0,NaN
Maine,156000.0,170900.0,198900.0,244900.0,318300.0,180100.0
Maryland,147500.0,168300.0,217800.0,336200.0,464700.0,245000.0
Massachusetts,200200.0,232400.0,289500.0,410800.0,563700.0,308500.0
Michigan,81700.0,96200.0,132000.0,231300.0,231800.0,113800.0
Minnesota,111500.0,147300.0,179100.0,231300.0,297600.0,174400.0
Mississippi,NaN,NaN,100900.0,174100.0,180800.0,94900.0
Missouri,71800.0,87000.0,133400.0,232000.0,277900.0,129100.0
Montana,114900.0,138700.0,177100.0,201100.0,238750.0,171800.0
Nebraska,71800.0,88200.0,125100.0,188200.0,162600.0,120900.0
Nevada,NaN,116800.0,159000.0,208600.0,289600.0,179400.0
NewHampshire,106600.0,162700.0,221000.0,290300.0,328800.0,221500.0
NewJersey,175300.0,209100.0,259900.0,368400.0,487800.0,281300.0
NewMexico,NaN,113400.0,144200.0,211600.0,281700.0,159700.0
NewYork,150400.0,119300.0,136900.0,224700.0,320600.0,238300.0
NorthCarolina,93000.0,90500.0,134600.0,234100.0,301200.0,137900.0
NorthDakota,NaN,147300.0,206700.0,196000.0,298800.0,164900.0
Ohio,63600.0,78800.0,111900.0,180500.0,205600.0,113800.0
Oklahoma,39500.0,46800.0,89300.0,162700.0,191000.0,84900.0
Oregon,148800.0,162500.0,196800.0,272500.0,318400.0,204700.0
Pennsylvania,101900.0,113900.0,143300.0,257800.0,265100.0,149400.0
RhodeIsland,149400.0,179200.0,218900.0,318500.0,426200.0,222200.0
SouthCarolina,81000.0,88200.0,132100.0,217900.0,NaN,122200.0
SouthDakota,81050.0,117350.0,137000.0,160200.0,212000.0,136650.0
Tennessee,92700.0,81600.0,121100.0,210300.0,317600.0,113000.0
Texas,NaN,NaN,113800.0,187400.0,NaN,124000.0
Utah,NaN,135200.0,170900.0,199200.0,254400.0,186900.0
Vermont,154450.0,174450.0,213950.0,272850.0,313350.0,208300.0
Virginia,185300.0,148900.0,189800.0,325500.0,471800.0,206500.0
Washington,160400.0,181600.0,227500.0,309200.0,374600.0,234200.0
WestVirginia,NaN,NaN,81300.0,117600.0,123900.0,64300.0
Wisconsin,95300.0,108600.0,144500.0,186000.0,219400.0,146000.0
Wyoming,NaN,154400.0,200300.0,213600.0,271200.0,178800.0

In [69]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price_1bedroom               43 non-null     float64
 1   Price_2bedroom               47 non-null     float64
 2   Price_3bedroom               51 non-null     float64
 3   Price_4bedroom               49 non-null     float64
 4   Price_5BedroomOrMore         48 non-null     float64
 5   Price_SingleFamilyResidence  50 non-null     float64
dtypes: float64(6)
memory usage: 2.8+ KB

In [ ]:
df = df.fillna(df2).reset_index()
df.sort_values(by='Date', ascending=True , inplace=False)
df.drop(columns=['index'], inplace=True)
df.head(20)

In [82]:
#state=df.loc[(df['RegionName']=='Maine')]
#state

In [71]:
df.isnull().sum()

Date                           0
RegionName                     0
Price_1bedroom                 0
Price_2bedroom                 0
Price_3bedroom                 0
Price_4bedroom                 0
Price_5BedroomOrMore           0
Price_SingleFamilyResidence    0
dtype: int64

In [72]:
df.describe()

,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
count,12849.000000,12849.000000,12849.000000,12849.000000,1.284900e+04,12849.000000
mean,115233.574597,133934.220562,167627.223908,243100.155654,3.230582e+05,173775.196513
std,55610.411037,69210.271390,79671.227838,104236.019740,1.633045e+05,90779.940421
min,30900.000000,32800.000000,49600.000000,64700.000000,6.860000e+04,37900.000000
25%,78700.000000,88500.000000,118000.000000,176500.000000,2.225000e+05,115700.000000
50%,106600.000000,120800.000000,143200.000000,221400.000000,3.067000e+05,150100.000000
75%,133200.000000,161400.000000,203900.000000,277800.000000,3.563000e+05,209500.000000
max,390200.000000,542400.000000,639700.000000,850400.000000,1.497000e+06,737500.000000

In [73]:
print('columns:', df.columns)
print('')
print('indexes:', df.index)
print('')
print('values:', df.values)

columns: Index(['Date', 'RegionName', 'Price_1bedroom', 'Price_2bedroom',
       'Price_3bedroom', 'Price_4bedroom', 'Price_5BedroomOrMore',
       'Price_SingleFamilyResidence'],
      dtype='object')

indexes: RangeIndex(start=0, stop=12849, step=1)

values: [[Timestamp('1996-04-30 00:00:00') 'Illinois' 83800.0 ... 171700.0
  224000.0 116000.0]
 [Timestamp('1996-04-30 00:00:00') 'Michigan' 66600.0 ... 170200.0
  166500.0 85400.0]
 [Timestamp('1996-04-30 00:00:00') 'Massachusetts' 82900.0 ... 195400.0
  249200.0 144300.0]
 ...
 [Timestamp('2017-12-31 00:00:00') 'Michigan' 101700.0 ... 282900.0
  294100.0 134800.0]
 [Timestamp('2017-12-31 00:00:00') 'Mississippi' 106600.0 ... 221000.0
  250400.0 118500.0]
 [Timestamp('2017-12-31 00:00:00') 'Pennsylvania' 118800.0 ... 292100.0
  307000.0 168100.0]]

#Data manipulation

In [94]:
df['houseprice'] = df['Price_1bedroom']+df['Price_2bedroom']+df['Price_3bedroom']+df['Price_4bedroom']+df['Price_5BedroomOrMore']+df['Price_SingleFamilyResidence']
house_price_by_region= pd.pivot_table(data=df, index='Date', columns='RegionName',values='houseprice')

In [ ]:
display(house_price_by_region)
display(type(house_price_by_region))
display(house_price_by_region.dtypes)
display(house_price_by_region.index)

In [98]:
# Converting the index as date with daily frequency
house_price_by_region.index = pd.to_datetime(house_price_by_region.index)
house_price_by_region= house_price_by_region.asfreq('M')
display(house_price_by_region.index)

DatetimeIndex(['1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31',
               '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30',
               '1996-12-31', '1997-01-31',
               ...
               '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=261, freq='M')

#Data exploration