<a href="https://colab.research.google.com/github/MaliheDahmardeh/state-house-price-analysis-SM/blob/main/state-house-price-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [72]:
!ls

sample_data  State_house_prices_ts_usa.csv

In [73]:
df = pd.read_csv('State_house_prices_ts_usa.csv')
df

      Date;RegionName;Price_1bedroom;Price_2bedroom;Price_3bedroom;Price_4bedroom;Price_5BedroomOrMore;Price_SingleFamilyResidence
0      30/04/96;Alabama;61500;48900;78200;146500;2063...
1      30/04/96;Arizona;59200;86400;96100;128400;1905...
2      30/04/96;Arkansas;53000;54500;76800;135100;186...
3      30/04/96;California;93700;123400;150900;196100...
4      30/04/96;Colorado;77800;97500;129000;176100;21...
...                                                  ...
13207  31/12/17;Virginia;200600;170300;221200;367800;...
13208  31/12/17;Washington;275700;289600;347600;46590...
13209  31/12/17;WestVirginia;;;113900;155500;181400;1...
13210  31/12/17;Wisconsin;118200;128100;169600;222600...
13211  31/12/17;Wyoming;;160800;211300;236200;285200;...

[13212 rows x 1 columns]

In [74]:
df = df['Date;RegionName;Price_1bedroom;Price_2bedroom;Price_3bedroom;Price_4bedroom;Price_5BedroomOrMore;Price_SingleFamilyResidence'].str.split(';', expand=True)
df.rename(columns = { 0:'Date', 1:'RegionName',
                                  2:'Price_1bedroom', 3:'Price_2bedroom', 4:'Price_3bedroom', 5:'Price_4bedroom', 
                                  6:'Price_5BedroomOrMore', 7:'Price_SingleFamilyResidence'}, inplace = True)
df

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
0,30/04/96,Alabama,61500,48900,78200,146500,206300,79000
1,30/04/96,Arizona,59200,86400,96100,128400,190500,107500
2,30/04/96,Arkansas,53000,54500,76800,135100,186000,64500
3,30/04/96,California,93700,123400,150900,196100,265300,162000
4,30/04/96,Colorado,77800,97500,129000,176100,212900,133600
...,...,...,...,...,...,...,...,...
13207,31/12/17,Virginia,200600,170300,221200,367800,531800,237300
13208,31/12/17,Washington,275700,289600,347600,465900,580300,352800
13209,31/12/17,WestVirginia,,,113900,155500,181400,103300
13210,31/12/17,Wisconsin,118200,128100,169600,222600,261200,170200
13211,31/12/17,Wyoming,,160800,211300,236200,285200,200500

In [75]:
df.head(10)

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
0,30/04/96,Alabama,61500,48900,78200,146500,206300,79000
1,30/04/96,Arizona,59200,86400,96100,128400,190500,107500
2,30/04/96,Arkansas,53000,54500,76800,135100,186000,64500
3,30/04/96,California,93700,123400,150900,196100,265300,162000
4,30/04/96,Colorado,77800,97500,129000,176100,212900,133600
5,30/04/96,Connecticut,64700,97000,130400,194800,299800,141000
6,30/04/96,Delaware,90100,88200,103500,157800,176100,107400
7,30/04/96,Florida,45400,65400,89100,133600,199900,92100
8,30/04/96,Georgia,74900,64700,88000,149700,212800,92400
9,30/04/96,Hawaii,152300,186600,231800,303400,345500,262600

In [76]:
df.tail(10)

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
13202,31/12/17,SouthDakota,115600,157300,180500,213700,277400,178700
13203,31/12/17,Tennessee,140800,115900,163900,270900,396100,145000
13204,31/12/17,Texas,,,166200,264900,,175000
13205,31/12/17,Utah,,197600,248200,286300,355300,270600
13206,31/12/17,Vermont,174700,213800,246400,310800,367900,224700
13207,31/12/17,Virginia,200600,170300,221200,367800,531800,237300
13208,31/12/17,Washington,275700,289600,347600,465900,580300,352800
13209,31/12/17,WestVirginia,,,113900,155500,181400,103300
13210,31/12/17,Wisconsin,118200,128100,169600,222600,261200,170200
13211,31/12/17,Wyoming,,160800,211300,236200,285200,200500

In [77]:
df2=df.mask(df == '')
df2

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
0,30/04/96,Alabama,61500,48900,78200,146500,206300,79000
1,30/04/96,Arizona,59200,86400,96100,128400,190500,107500
2,30/04/96,Arkansas,53000,54500,76800,135100,186000,64500
3,30/04/96,California,93700,123400,150900,196100,265300,162000
4,30/04/96,Colorado,77800,97500,129000,176100,212900,133600
...,...,...,...,...,...,...,...,...
13207,31/12/17,Virginia,200600,170300,221200,367800,531800,237300
13208,31/12/17,Washington,275700,289600,347600,465900,580300,352800
13209,31/12/17,WestVirginia,NaN,NaN,113900,155500,181400,103300
13210,31/12/17,Wisconsin,118200,128100,169600,222600,261200,170200
13211,31/12/17,Wyoming,NaN,160800,211300,236200,285200,200500

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13212 entries, 0 to 13211
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         13212 non-null  object
 1   RegionName                   13212 non-null  object
 2   Price_1bedroom               13212 non-null  object
 3   Price_2bedroom               13212 non-null  object
 4   Price_3bedroom               13212 non-null  object
 5   Price_4bedroom               13212 non-null  object
 6   Price_5BedroomOrMore         13212 non-null  object
 7   Price_SingleFamilyResidence  13212 non-null  object
dtypes: object(8)
memory usage: 825.9+ KB

In [79]:
df.describe()

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
count,13212,13212,13212,13212,13212,13212,13212,13212
unique,261,52,2233,2541,2846,3524,4437,3115
top,31/08/12,Alabama,,,,,,
freq,52,261,2607,1467,425,853,1398,774

In [80]:
df.duplicated().sum()

0

In [82]:
df.isnull()

,Date,RegionName,Price_1bedroom,Price_2bedroom,Price_3bedroom,Price_4bedroom,Price_5BedroomOrMore,Price_SingleFamilyResidence
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
13207,False,False,False,False,False,False,False,False
13208,False,False,False,False,False,False,False,False
13209,False,False,False,False,False,False,False,False
13210,False,False,False,False,False,False,False,False
13211,False,False,False,False,False,False,False,False